.image {
  object-fit: cover;
  width: 92.25px;
  height: 123px;
  padding: 0.5rem;
}

.productTitle {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.titleInfo a {
  max-width: 267px;
}

.quantityWrapper {
  display: flex;
  gap: 0.5rem;
}

.quantityButton {
  border: none;
  border-radius: 4px;
  width: 22px;
  height: 22px;
  outline: none;
  background-color: #dedede;
}

.linePrice {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.removeButton {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.buttonOrder {
  border-radius: 18px;
  background: #0251af;
  display: block;
  width: 100%;
  text-align: center;
  padding: 16px 0;
  margin-top: 20px;
}

.price {
  color: #3882db;
  font-size: 20px;
  font-weight: 600;
}

.quantity {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.titleCart {
  font-size: 24px;
  font-weight: 600;
  margin: 50px 0 0;
}

.line {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.cartWrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.cartInfo {
  margin: 50px 0 0;
  height: fit-content;
  width: 100%;
  max-width: 360px;
}

.subtotalWrapper {
  display: flex;
  justify-content: space-between;
}

.subtotal,
.price {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.titleInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.lineInfo {
  display: flex;
  gap: 0.5rem;
}

.buttonLink {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 1220px) {
  .cartWrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .cartInfo {
    max-width: none;
  }
}

@media screen and (max-width: 542px) {
  .lineInfo {
    flex-direction: column;
  }

  .linePrice {
    flex-direction: row;
    align-items: center;
  }
}
