.header {
  align-items: center;
  background: #3882db;
  display: flex;
  padding: 2.12rem 2.88rem 2.25rem 3.88rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo {
  max-width: 282px;
}

.catalogue {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.71rem;
  border-radius: 1.125rem;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
  max-width: 171px;
  width: 100%;
  max-height: 3.5625rem;
  margin-left: 2rem;
  z-index: 2;
  background-color: transparent;
  transition: all 0.2s ease-in;
}

.catalogueWrapper {
  position: absolute;
  top: 146px;
  left: 0;
}

.catalogueLayout {
  position: fixed;
  top: 146px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: background 0.15s ease;
}

.catalogueClose {
  margin: 0 auto;
}

.catalogueList {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 4px;
  padding: 14px 62px;
  background-color: #fff;
  z-index: 2;
}

.catalogueImage {
  width: 22px;
  height: 22px;
}

.catalogueItem {
  display: flex;
  align-items: center;
  padding: 7px 14px;
  gap: 8px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.catalogueLink {
  color: #000;
  font-size: 16px;
  line-height: 19.36px;
  text-decoration: none;
}

.catalogueText {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}

.headerNav {
  margin-left: 0.69rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchWrapper {
  max-width: 34.3125rem;
  width: 100%;
}

.searchInput {
  border: none;
  font-size: 1.25rem;
  font-weight: 500;
  height: 3.5625rem;
  color: #000;
  margin: 0;
  padding: 1rem 2rem;
  width: 100%;
  outline: none;
  border-radius: 1.125rem;
  background: #fff;
  transition: background 0.2s ease-in;
}

.searchInput::placeholder {
  color: #c0c6d3;
}

.navCards {
  display: flex;
  align-items: center;
  gap: 1rem;
}

a.navCardLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.navCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.cardText {
  font-size: 1rem;
  font-weight: 500;
  color: #d0d0d0;
  transition: color 0.2s ease-in;
}

@media (hover: hover) {
  .catalogue:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }

  .searchInput:hover {
    background: #f8f8f8;
  }

  .navCard:hover .cardText {
    color: #fff;
  }

  .catalogueItem:hover {
    background-color: #eef8ff;
  }
}

.catalogue:active {
  transform: scale(0.98);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .header {
    border-radius: 0px 0px 30px 30px;
    background: linear-gradient(93deg, #3882db 18.8%, #00d1ff 91.25%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 11px 26px;
  }

  .catalogue {
    display: none;
  }

  .headerNav {
    margin-left: 0;
  }

  .navCards {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    padding: 9px 33px;
  }

  .cardText {
    display: none;
  }

  .searchWrapper {
    max-width: none;
  }

  .searchInput {
    padding: 8px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: auto;
  }

  .logo {
    max-width: 188px;
    height: auto;
    display: block;
  }
}
