.productInfo {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: minmax(360px, 1fr) 1fr;
}

.productOrder {
  border-radius: 16px;
  padding: 21px 16px;
  height: fit-content;
  width: 271px;
  background: #fff;
  box-shadow: 0px 0px 41px 0px rgba(0, 26, 52, 0.1);
}

.openDescr {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  margin-top: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
  color: #707f8d;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
  padding: 0;
}

.productOptionsValue {
  color: #001a34;
}

.productOptionsTitle {
  color: #707f8d;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
}

.product-image {
  object-fit: contain;
  display: grid;
  grid-template-columns: 40px 1fr;
  border: 0.797px solid var(--2, #f1f3f9);
  border-radius: 18px;
  padding: 8px;
  gap: 0.5rem;
}

.productImages {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.productAsset {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
}

.productAsset:hover {
  opacity: 0.75;
}

.productAsset.active {
  border: 2px solid #0251af;
}

.priceBox {
  border-radius: 8px;
  background: #eef8ff;
  padding: 4.69px;
  width: fit-content;
}

.productPrice {
  color: #000;
  font-size: 24.369px;
  font-weight: 700;
}

.addToCartButton {
  border-radius: 10px;
  background: #0251af;
  color: #fff;
  outline: none;
  border: none;
  text-align: center;
  padding: 14px 0;
  width: 100%;
  margin-top: 18px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.addToCartButton:hover {
  background-color: #003f8b;
}

.addToCartButton:disabled {
  opacity: 0.3;
}

.productOptionName {
  color: #000;
}

.arrow {
  transition: all 0.2s ease-in;
}

.arrowRotate {
  transform: rotate(180deg);
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 1024px) {
  .productInfo {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .product-image {
    height: fit-content;
  }

  .productOrder {
    width: 100%;
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .product-image {
    display: flex;
    flex-direction: column-reverse;
  }

  .productImages {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 715px) {
  .productAsset {
    height: 68px;
  }
}
